//Global Variables
$colorPrimary: #1976d2;
$colorSecondary: #032342;
$colorTertiary: #d10c0c;
$colorGreyPop: #fdfdfd;
$colorGreyPop80: #fdfdfdc0;
$colorGreyHover: #2f2c33;
$colorGreyBg: #dfdfeb;
$colorText: #0c0c0c;
$colorButtonHover: #dfdfdf;
$colorShadowLight: rgba(48, 48, 48, 0.85);
$colorShadowDark: rgba(0, 0, 0, 0.65);

