<div class="master">
  <div class="entrants">
    <div class="entries-title">141 CHAMPIONSHIP</div>
    <a [routerLink]="['/create/141']">
      <button class="submit__btn">Create Bracket</button>
    </a>
  </div>
  <!-- ENTRIES -->
  <div class="entries-title">Entrants</div>
  <div class="entries-container">
    <div class="entry-card">
      <div class="entry-card-text">MASTER</div>
    </div>
    <div *ngFor="let entry of entries; let indexOfElement= index" class="entry-card">
      <div class="entry-card-text">{{entry.username}}</div>
      <div class="entry-card-score-text">Score {{scores[indexOfElement]}}</div>
    </div>
  </div>

  <!-- MAIN BRACKET -->
  <div class="bracket-title">Main Bracket</div>
  <main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant1}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant2}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant3}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant4}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant5}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant6}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant7}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant8}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant9}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant10}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant11}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant12}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant13}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant14}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant15}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant16}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant17}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant18}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant19}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant20}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant21}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant22}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant23}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant24}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant25}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant26}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant27}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant28}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant29}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant30}} <span></span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">{{participant31}} <span></span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">{{participant32}} <span></span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 2 -->
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot33}}) {{participant33}} <span>{{score33}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot34}}) {{participant34}} <span>{{score34}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot35}}) {{participant35}} <span>{{score35}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot36}}) {{participant36}} <span>{{score36}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot37}}) {{participant37}} <span>{{score37}}</span></li>
      <li class="game game-spacer2">&nbsp;</li>
      <li class="game game-bottom ">({{slot38}}) {{participant38}} <span>{{score38}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot39}}) {{participant39}} <span>{{score39}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot40}}) {{participant40}} <span>{{score40}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot41}}) {{participant41}} <span>{{score41}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot42}}) {{participant42}} <span>{{score42}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot43}}) {{participant43}} <span>{{score43}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot44}}) {{participant44}} <span>{{score44}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot45}}) {{participant45}} <span>{{score45}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot46}}) {{participant46}} <span>{{score46}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot47}}) {{participant47}} <span>{{score47}}</span></li>
      <li class="game game-spacer2">&nbsp;</li>
      <li class="game game-bottom ">({{slot48}}) {{participant48}} <span>{{score48}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 3 -->
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot49}}) {{participant49}} <span>{{score49}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot50}}) {{participant50}} <span>{{score50}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot51}}) {{participant51}} <span>{{score51}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot52}}) {{participant52}} <span>{{score52}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot53}}) {{participant53}} <span>{{score53}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot54}}) {{participant54}} <span>{{score54}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot55}}) {{participant55}} <span>{{score55}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot56}}) {{participant56}} <span>{{score56}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 4 -->
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot57}}) {{participant57}} <span>{{score57}}</span></li>
      <li class="game game-spacer4">&nbsp;</li>
      <li class="game game-bottom ">({{slot58}}) {{participant58}} <span>{{score58}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot59}}) {{participant59}} <span>{{score59}}</span></li>
      <li class="game game-spacer4">&nbsp;</li>
      <li class="game game-bottom ">({{slot60}}) {{participant60}} <span>{{score60}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 5 -->
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot61}}) {{participant61}} <span>{{score61}}</span></li>
      <li class="game game-spacer5">&nbsp;</li>
      <li class="game game-bottom ">({{slot62}}) {{participant62}} <span>{{score62}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 5 -->
    <ul class="round round-4">
      <li class="game game-top">({{slot63}}) {{participant63}} <span>{{score63}}</span></li>
    </ul>
  </main>
</div>
