<div class="master">
  <div class="entrants">
    <div class="title">2021 NCAA DIVISION I WRESTLING CHAMPIONSHIPS</div>
    <button class="submit__btn">Create Bracket</button>
  </div>
  <!-- PRELIM -->
  <main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      <div class="bracket-title">Prelim</div>
      <li class="spacer">&nbsp;</li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot33}}) {{participant33}} <span>{{score33}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot34}}) {{participant34}} <span>{{score34}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="spacer">&nbsp;</li>
    </ul>
  </main>
  <!-- MAIN BRACKET -->
  <div class="bracket-title">Main Bracket</div>
  <main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot1}}) {{participant1}} <span>{{score1}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot2}}) {{participant2}} <span>{{score2}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot3}}) {{participant3}} <span>{{score3}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot4}}) {{participant4}} <span>{{score4}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot5}}) {{participant5}} <span>{{score5}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot6}}) {{participant6}} <span>{{score6}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot7}}) {{participant7}} <span>{{score7}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot8}}) {{participant8}} <span>{{score8}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot9}}) {{participant9}} <span>{{score9}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot10}}) {{participant10}} <span>{{score10}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot11}}) {{participant11}} <span>{{score11}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot12}}) {{participant12}} <span>{{score12}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot13}}) {{participant13}} <span>{{score13}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot14}}) {{participant14}} <span>{{score14}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot15}}) {{participant15}} <span>{{score15}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot16}}) {{participant16}} <span>{{score16}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot17}}) {{participant17}} <span>{{score17}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot18}}) {{participant18}} <span>{{score18}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot19}}) {{participant19}} <span>{{score19}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot20}}) {{participant20}} <span>{{score20}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot21}}) {{participant21}} <span>{{score21}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot22}}) {{participant22}} <span>{{score22}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot23}}) {{participant23}} <span>{{score23}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot24}}) {{participant24}} <span>{{score24}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot25}}) {{participant25}} <span>{{score25}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot26}}) {{participant26}} <span>{{score26}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot27}}) {{participant27}} <span>{{score27}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot28}}) {{participant28}} <span>{{score28}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot29}}) {{participant29}} <span>{{score29}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot30}}) {{participant30}} <span>{{score30}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot31}}) {{participant31}} <span>{{score31}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot32}}) {{participant32}} <span>{{score32}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 2 -->
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot35}}) {{participant35}} <span>{{score35}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot36}}) {{participant36}} <span>{{score36}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot37}}) {{participant37}} <span>{{score37}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot38}}) {{participant38}} <span>{{score38}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot39}}) {{participant39}} <span>{{score39}}</span></li>
      <li class="game game-spacer2">&nbsp;</li>
      <li class="game game-bottom ">({{slot40}}) {{participant40}} <span>{{score40}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot41}}) {{participant41}} <span>{{score41}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot42}}) {{participant42}} <span>{{score42}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot43}}) {{participant43}} <span>{{score43}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot44}}) {{participant44}} <span>{{score44}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot45}}) {{participant45}} <span>{{score45}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot46}}) {{participant46}} <span>{{score46}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot47}}) {{participant47}} <span>{{score47}}</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom ">({{slot48}}) {{participant48}} <span>{{score48}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot49}}) {{participant49}} <span>{{score49}}</span></li>
      <li class="game game-spacer2">&nbsp;</li>
      <li class="game game-bottom ">({{slot50}}) {{participant50}} <span>{{score50}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 3 -->
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot51}}) {{participant51}} <span>{{score51}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot52}}) {{participant52}} <span>{{score52}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot53}}) {{participant53}} <span>{{score53}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot54}}) {{participant54}} <span>{{score54}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot55}}) {{participant55}} <span>{{score55}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot56}}) {{participant56}} <span>{{score56}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot57}}) {{participant57}} <span>{{score57}}</span></li>
      <li class="game game-spacer3">&nbsp;</li>
      <li class="game game-bottom ">({{slot58}}) {{participant58}} <span>{{score58}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 4 -->
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot59}}) {{participant59}} <span>{{score59}}</span></li>
      <li class="game game-spacer4">&nbsp;</li>
      <li class="game game-bottom ">({{slot60}}) {{participant60}} <span>{{score60}}</span></li>
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot61}}) {{participant61}} <span>{{score61}}</span></li>
      <li class="game game-spacer4">&nbsp;</li>
      <li class="game game-bottom ">({{slot62}}) {{participant62}} <span>{{score62}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 5 -->
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top">({{slot53}}) {{participant53}} <span>{{score53}}</span></li>
      <li class="game game-spacer5">&nbsp;</li>
      <li class="game game-bottom ">({{slot54}}) {{participant54}} <span>{{score54}}</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>
    <!-- ROUND 5 -->
    <ul class="round round-4">
      <li class="game game-top">({{slot65}}) {{participant65}} <span>{{score65}}</span></li>
    </ul>
  </main>
</div>