<main id="tournament">

  <ul class="round round-1">
    <li class="spacer">&nbsp;</li>
    <div class="bracket-title">Prelim</div>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="game game-top">(33) Kysen Terukina (ISU) 8-5 <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">(32) Patrick McCormick (UVA) 8-5 <span>48</span></li>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>

    <div class="bracket-title">Main Bracket</div>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="game game-top">Lousville <span>79</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">NC A&T <span>48</span></li>
    <li class="spacer">&nbsp;</li>
    <li class="game game-top">Colo St <span>84</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom ">Missouri <span>72</span></li>
    <li class="spacer">&nbsp;</li>
  </ul>
</main>