@import '../config';

.master {
  width: 100%;
  margin-top: 2vh;
}

.entrants {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 30%;
  }
}


.submit__btn {
  background-color: $colorTertiary;
  width: 100%;
  margin: 1vh 1vw;
  margin-bottom: 1vh;
  transition: 200ms;
}

.submit__btn:hover {
  background-color: $colorPrimary;
}

.entries-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.entry-card {
  width: 12vw;
  height: 4vw;
  min-width: 85px;
  min-height: 40px;
  background-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 1vh 1vw;
  transition: 200ms;
}

.entry-card:hover {
  background-color: $colorTertiary;
  transform: scale(1.05);
}

.entry-card-text {
  color: white;
  font-size: calc(10px + .5vw);
}

.entry-card-score-text {
  color: white;
  font-size: calc(10px + .25vw);
}

main{
  display:flex;
  flex-direction:row;
}

.entries-title {
  width: 100vw;
  text-align: center;
  font-size: calc( 12px + .8vw);
  margin: 1.5vh 0;
}

.bracket-title {
  margin-left: 1vw;
  font-size: calc( 12px + .8vw);
}

.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:16vw;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
  font-size: calc( 7px + .35vw);
  max-height: 8vh;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-spacer2{ 
    border-right:1px solid #aaa;
    min-height:90px;
  }
  li.game-spacer3{ 
    border-right:1px solid #aaa;
    min-height:200px;
  }
  li.game-spacer4{ 
    border-right:1px solid #aaa;
    min-height:375px;
  }
  li.game-spacer5{ 
    border-right:1px solid #aaa;
    min-height:750px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }